[flake8]
# flake and black disagree sometimes
ignore = E203
exclude =
    .git,
    __pycache__,
    build,
    dist,
    versioneer.py,
    tid/_version.py,
    docs/source/conf.py
max-line-length = 115
