name: Unit Tests

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8]
      fail-fast: false

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        # These packages are installed in the base environment but may be older
        # versions. Explicitly upgrade them because they often create
        # installation problems if out of date.
        python -m pip install --upgrade pip setuptools numpy

        pip install .
        pip install -r requirements-dev.txt
        pip list
    - name: Test with pytest
      run: |
        coverage run -m pytest -vv
        coverage report -m
